* {
    box-sizing: border-box;
}

body {
    background:rgb(211, 214, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 1;
}
header {
    background: #ffffff;
    text-align: center;
    clear: both;

}

/* clearfix to sort out the nav bar getting mess up*/
header::after {
    content: '';
    display: table;
    clear: both;
}

.navbar { 
    width: 960px;
    margin: 0 auto;
}

.brand {
    background: #4aaaa5;
    color: #ffffff;
    padding: 20px;  
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;

}


.links {
    float: right;
    background: #ffffff;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 22px;

    position: relative;
}

a {
    color: #777777;
    text-decoration: none;
}

a:hover {
    color: red;
}

/*create a pseudo element "before to create an effect on the top when hovering.*/
a::before {
    content: '';
    display: block;
    height: 5px;
    background: rgb(78, 76, 76);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

a:hover::before {
    width: 100%;
}

main {
    clear: both;
    overflow: auto;
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
    width: 960px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.container {
    width: 900px;
    margin: 10px;
    
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}


#image {
    float: left;
    margin: 10px 20px 10px 0;
}

p {
    padding-top: 5px;
    margin-top: 5px;
}

footer {
    clear: both;
    overflow: 0 auto;
    margin: 0 auto;
    text-align: center;
    background: #666666;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;

}